.login-page-outer-div {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.login-page-outer-div img {
	width: 50%;
	height: auto;
}

.form {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.button_login {
	background: #020100;
	color: #ffffff;
	border-radius: 0.3rem;
	padding: 0.7rem;
	font-family: "Inter", sans-serif;
	border: 0px;
	font-weight: 600;
}

.input {
	border: 1px solid #c6c6ce;
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	width: 100%;
}

.password-wrapper {
	position: relative;
}

.password-input {
	padding-right: 2.5rem;
}

.eye {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}

.eye img {
	width: 1rem;
	height: auto;
}

::placeholder {
	color: #b3b8c2;
}

#Forgot-Password {
	color: #b3b8c2;
}

.account {
	color: #667085;
}

.signup {
	color: #08a593;
}
